# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Vestx Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-vestx %u"
GenericName[en_US]=Vestx Wallet
GenericName=Vestx Wallet
Icon=electrum-vestx
Name[en_US]=Electrum Vestx Wallet
Name=Electrum Vestx Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-vestx
Terminal=false
Type=Application
MimeType=x-scheme-handler/vestx;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-vestx --testnet %u"
Name=Testnet mode
